#mniNew > .label{
-fx-graphic: url("/img/file.png");
}
#mniNew .accelerator-text{
-fx-graphic: none;
}
#jezik > .label{
-fx-graphic: url("/img/jezik.png");
}
#jezik .accelerator-text{
-fx-graphic: none;
}
#ab > .label{
-fx-graphic: url("/img/about.png");
}
#ab .accelerator-text{
-fx-graphic: none;
}
#ex > .label{
-fx-graphic: url("/img/exit.png");
}
#ex .accelerator-text{
-fx-graphic: none;
}
#mniSave > .label{
-fx-graphic: url("/img/save.png");
}
#mniSave .accelerator-text{
-fx-graphic: none;
}
#brdPane{
    -fx-background-image: url("/img/background.jpg");
    -fx-background-size: 100% 100%;
}
#lbl {
    -fx-alignment: center ;
}
#pass {
-fx-alignment: center ;
}
.login{
-fx-background-color: #0080FF;
-fx-text-fill: white;
}
#time{
-fx-text-alignment: right;
}