#mniNew > .label{
-fx-graphic: url("/img/file.png");
}
#mniNew .accelerator-text{
-fx-graphic: none;
}
#mniOpen > .label{
-fx-graphic: url("/img/open.png");
}
#mniOpen .accelerator-text{
-fx-graphic: none;
}
#mniSave > .label{
-fx-graphic: url("/img/save.png");
}
#mniSave .accelerator-text{
-fx-graphic: none;
}
#brdPane{
    -fx-background-image: url("/img/background.jpg");
    -fx-background-size: 100% 100%;
}
#lbl {
    -fx-alignment: center ;
}
#pass {
-fx-alignment: center ;
}
.login{
-fx-background-color: #0080FF;
-fx-text-fill: white;
}